body{
	font-family: sans-serif;
	font-weight: 400;
	font-size: 36px;
	margin-left: 20px;
	margin-top: 10px; 
	color: #1c1c1c;
	background:#f3f3f3;
}
h1{
	position: absolute;
	top: 30px;
	left: 20px;
	color: #1c1c1c;
}
nav{
	position: absolute;
	top: 30px;
	right: 25px;
	word-spacing: 50px;
	display: inline-block;
}
nav a{
	text-decoration: none;
	color: #1c1c1c;
	font-size: 30px;
}
nav a:hover{
	border-bottom: solid 3px black;
}
section{
	position: absolute;
	top: 100px;
	left: 0px;
	height: 100%;
	width: 100vw;
	overflow: hidden;
}
.project{
	height: 400px;
	width: 33.33%;
	float: left;
	overflow: hidden;
}
.info{
	padding-top: 100px;
	text-align: center;
    width: 50%;
    margin: 0 auto;
}

@media screen and (max-width: 780px) {
    nav {
        display: none;
    }
}